ようこそ！　<%= current_user.name %>さん
<h1>
    <div class="text-center">ken's blog</div>
</h1>

<div class="col-sm-2 mx-auto">投稿一覧</div>

<div class="container">
    <div class="row">
        <% @articles.each do |article| %>
            <div class="card col-sm-7 mb-3 mx-auto ">
                <%= link_to article.title,article %>
            </div>
        <% end %>
    </div>
</div>
<div class="col-sm-2 mx-auto"><%= paginate @articles %></div>

